<% content_for :head do %>
    <%= title 'Entrar en casamasomenos.net' %>
<% end %>

<div class="dark strip">
  En estos momentos casa+o- funciona por invitaci칩n. No se pueden crear cuentas nuevas.
</div>


<%= form_tag create_session_path do %>
    <div class="input">
      <label>Direcci칩n de correo electr칩nico:</label>
      <%= text_field_tag :email %>
    </div>
    <div class="input">
      <label>Contrase침a:</label>
      <%= password_field_tag :password %>
    </div>
    <%= submit_tag 'Entrar' %>
<% end %>


