<div class="page-header">
  <%= title 'Entrar en casamasomenos.net' %>

  <p> En estos momentos casa+o- funciona por invitación. No se pueden crear cuentas nuevas.</p>
</div>


<%= simple_form_for user_session do |form| %>
    <%= form.input :email %>
    <%= form.input :password %>
    <%= form.submit 'Entrar', class: 'btn' %>
<% end %>


