<%= simple_form_for relation do |form| %>
    <%= form.input :from_id, :as => :hidden %>
    <div class="input">
      <label>* 1. Artículo</label>
      <%= relation.from.title %>
    </div>
    <%= form.input :user_category, :collection => tc('relations.categories', Relation::USER_CATEGORIES),
                   :value_method => :first, :label_method => :last, :include_blank => false %>
    <%= form.association :to,  :collection => Article.all(:order => 'title')%>
    <%= form.submit %>
<% end %>