<% content_for :head do %>
    <%= title t('.title') %>
<% end %>

<div class="strip">
  <ul class="properties">
    <li><label>Autor:</label><%= replied.author.name %></li>
    <li><%= replied.body %></li>
  </ul>
</div>
  <%= simple_form_for reply do |form| %>
    <%= form.input :parent_id, :as => :hidden %>
    <%= form.input :body %>
      <%= button_group do %>
          <%= button_submit_tag 'Responder' %>
      <% end %>
  <% end %>
