<% if articles.size == 0 %>
    <p>No hay artículos.</p>
<% else %>
    <table class="common-table zebra-striped">
      <thead>
      <tr>
        <th>Artículo</th>
        <th>Categoría</th>
        <th>Cmm/Rel/Fil</th>
        <th>Modificado hace...</th>
      </tr>
      </thead>
      <tbody>
      <% articles.each do |article| %>
          <tr>
            <td>
              <h5><%= link_to article.title, [:admin, article] %>
                <small>Por <%= article.author.name %>
                </small>
              </h5>
            </td>
            <td><%= article.category.es_name %></td>
            <td><%= article.comments.count %>/<%= article.relations.count %>/<%= article.mediafiles.count %></td>
            <td><%= time_ago_in_words article.updated_at %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
