<div class="page-header">
  <%= link_to raw('&larr; Volver'), [:admin, :articles] %> /
  <%= link_to icon(:view, 'Ver en la web'), article %> /
  <%= link_to icon(:edit, 'Editar'), [:edit, :admin, article] %>
</div>

<div class="row">
  <div class="span10">
    <%= div_for article do %>
        <h3><%= link_to article.parent.title, [:admin, article.parent] if article.parent %></h3>
        <%= title article.title, small: "Por #{article.author.name}" %>

        <div class="render">
          <%= render_body article %>
        </div>
    <% end %>
  </div>

  <div class="sidebar span4">
    <h3>Sub navegación
      <small><%= article.children.count %></small>
    </h3>
    <ul id="descendants" class="descendants" data-update-url="<%= sort_admin_articles_url %>">
      <% article.children.ordered.all.each do |children| %>
          <%= content_tag_for :li, children do %>
              <%= link_to children.title, [:admin, children] %>
          <% end %>
      <% end %>
    </ul>

    <h3>Artículos asociados
      <small><%= article.all_relations.count %></small>
    </h3>
    <div class="links">
      <%= link_to icon(:new, 'Añadir relación'), [:new, :admin, article, :relation] %>
    </div>
    <ul class="relation_groups">
      <% article.grouped_relations.each do |category, group| %>
          <li>
            <%= category.es_name %>:
            <ul class="relations">
              <% group.each do |relation| %>
                  <li><%= link_to relation.other.title, [:admin, relation.other] %>
                    <%= link_to icon(:delete), [:admin, article, relation], class: 'mini alert',
                    method: :delete, confirm: "Borrar la relación entre '#{article.title}' y '#{relation.other.title}'. ¿Seguro?"%>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>

    <h3>Ficheros
      <small><%= article.mediafiles.count %></small>
    </h3>
    <ul class="mediafiles">
      <% article.mediafiles.each do |mf| %>
          <li><%= mf.title %> <%= link_to mf.file_identifier, [:admin, mf] %>
          </li>
      <% end %>
    </ul>

    <h3>Traducciones
      <small><%= article.translations.count %></small>
    </h3>
    <div class="links">
      <%= link_to '+ Añadir traducción', [:new, :admin, article, :translation] %>
    </div>
    <ul class="translations">
      <% article.translations.each do |trans| %>
      <li>(<%= trans.lang %>) <%= link_to trans.title, [:admin, article, trans] %>
        <%= link_to icon(:edit), [:edit, :admin, article, trans], class: 'mini edit' %>
        <%= link_to icon(:delete), '#', class: 'mini alert' %>

      </li>
      <% end %>
    </ul>
  </div>
</div>


