<%= div_for article do %>
    <div class="render">
      <h1><%= article.name %></h1>
      <%= render_body article %>
    </div>
    <div class="comment_area">
      <%= render :partial => 'comments/form', :locals => {:resource => article, :comment => comment} %>
      <div class="comments">
        <% article.comments.each do |comment| %>
            <div class="nested_comments">
              <%= nested_comments comment.subtree.arrange(:order => :created_at) %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>


