<div class="dark strip">
  <%= button_group do %>
      <%= arrowleft_button_link_to 'Cancelar', (article.new_record? ? articles_path : article_path(article)) %>
  <% end %>
  <ul class="properties">
    <li><label>Autor:</label><%= article.author.name %></li>
    <%= render :partial => 'mediafiles' %>
  </ul>
</div>
<%= simple_form_for(article) do |f| %>
    <%= f.input :title %>
    <%= f.input :category, :collection => Article::CATEGORIES %>
    <%= f.input :body, :as => :text %>
    <%= button_submit_tag 'Guardar' %>
<% end %>


