<div class="dark strip">
  <%= button_group do %>
      <%= arrowleft_button_link_to 'Cancelar', (article.new_record? ? articles_path : article_path(article)) %>
  <% end %>
  <ul class="properties">
    <%= render :partial => 'mediafiles' %>
  </ul>
</div>
<%= simple_form_for(article) do |f| %>
    <%= f.input :title %>
    <%= f.input :category,:collection => tc('article.categories.singular', Article::CATEGORIES),
                     :value_method => :first, :label_method => :last, :include_blank => false %>
    <%= f.input :body, :as => :text %>
    <%= button_submit_tag 'Guardar' %>
<% end %>


