<header>
  <%= title 'Casa + o -' %>
</header>
<% if current_user? %>
    <div class="dark strip">
      <%= add_button_link_to 'Añadir artículo', new_article_path %>
    </div>
<% end %>
<div class="content">
  <h2>Artículos</h2>
  <ul class="articles">
    <%= render :partial => 'info', :collection => pages %>
  </ul>

  <h2>Modelos teóricos</h2>
  <ul class="articles">
    <%= render :partial => 'info', :collection => models %>
  </ul>

  <h2>Experiencias previas</h2>
  <ul class="articles">
    <%= render :partial => 'info', :collection => experiences %>
  </ul>

</div>


