<% content_for :head do %>
    <ul>
      <% article.parents.each do |parent| %>
          <li><%= link_to parent.title, parent %></li>
      <% end %>
    </ul>
    <%= title article.title %>
<% end %>

<% if current_user? %>
    <div class="dark strip">
      <%= button_group do %>
          <%= edit_button_link_to 'Editar', edit_article_path(article) if can? :edit, article %>
          <%= calendar_button_link_to 'Añadir imágen', new_mediafile_path(:p => article.id) if can? :new, Mediafile %>
          <%= fork_button_link_to 'Relacionar con...', new_article_relation_path(article) if can? :manage, article %>
          <%= danger_remove_button_link_to 'Borrar', article, :confirm => "ESTO NO SE PUEDE DESHACER. TAMBIEN SE BORRARÁN TODAS LAS RELACIONES CON ESTE ARTÍCULO. ¿Seguro que quieres borrar '#{article.title}' ?",
                                           :method => :delete if can? :manage, article %>
      <% end %>
    </div>
<% end %>

<%= div_for article do %>
    <div class="render">
      <%= render_body article %>
    </div>

    <div class="content categorized">
      <div class="container">
        <% article.grouped_relations.each do |category, values| %>
            <% unless category == 'page' or values.length == 0 %>
                <ul class="relations">
                  <h3><%= t("article.categories.prural.#{category}") %> </h3>
                  <%= render values %>
                </ul>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="content comment_area">
      <h3>Comentarios</h3>
      <%= render :partial => 'comments/form', :locals => {:resource => article, :comment => comment} %>
      <div class="comments">
        <% article.comments.each do |comment| %>
            <div class="nested_comments">
              <%= nested_comments comment.subtree.arrange(:order => :created_at) %>
            </div>
        <% end %>
      </div>
    </div>

<% end %>


