<header>
  <h2><%= t 'activerecord.models.article' %></h2>
  <%= title article.name %>
</header>
<div class="strip">
  <ul class="properties">
    <li><label>Autor:</label><%= article.author.name %></li>
    <li><label>Forma parte de:</label><%= article.parent.name if article.parent %></li>
  </ul>
  <%= button_group do %>
      <%= add_button_link_to t('articles.append.title'), new_article_path(:parent_id => article.id) if can? :new, Article %>
      <%= edit_button_link_to 'Editar', edit_article_path(article) if can? :edit, article %>
  <% end %>
</div>
<%= div_for article do %>
    <%= render_body article %>
    <div class="comment_area">
      <%= render :partial => 'comments/form', :locals => {:resource => article, :comment => comment} %>
      <div class="comments">
        <% article.comments.each do |comment| %>
            <div class="nested_comments">
              <%= nested_comments comment.subtree.arrange(:order => :created_at) %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>


