<% title user.name %>
<header>
  <h1><%= user.name %></h1>
</header>
<div class="dark strip">
  <%= button_group do %>
      <%= remove_button_link_to 'Salir', logout_path, :confirm => '¿Quieres salir?' %>
      <%= edit_button_link_to 'Editar', edit_user_path(user) %>
  <% end %>
  <ul class="properties">
    <li><label>Email:</label><%= user.email %></li>
  </ul>
</div>
<div class="content">
</div>


