<!-- top -->
<div id="top" class="row">
  <div class="columns three">
    <%= span_or_link_to site.about.title, site.about %>
  </div>
  <div class="columns three">
    <%= span_or_link_to site.process.title, site.process %>
  </div>
  <div class="columns three">&nbsp;</div>
  <div class="columns three">
    <div id="app_links" class="container">
      <%= link_to 'Contacta' %>
      <%= link_to 'ES' %>
      <%= link_to 'EN' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns three">&nbsp;</div>
  <div class="columns six">
    <% article.ancestors.each do |article| %>
        <%= link_to article.title, article %> &gt;
    <% end %>
    <%= title article.title %>
  </div>
  <div class="columns three">&nbsp;</div>
</div>

<div class="row">
  <div class="columns three sidebar left">
    <h3><%= span_or_link_to site.strategies.title, site.strategies %></h3>

    <div class="article_tree">
      <%= article_tree_for site.strategies %>
    </div>
  </div>
  <div class="columns six">
    <%= render article %>
    <%= render 'public/comments/comments' %>
  </div>
  <div class="columns three sidebar right">
    <h3><%= span_or_link_to site.experiencies.title, site.experiencies %></h3>
    <%= article_tree_for site.experiencies %>
  </div>
</div>

