<div class="page-header">
  <div class="row">
    <div class="span4">
      <a href="/">
        <h3 id="logo">Casa más o menos</h3>
      </a>
    </div>
    <div class="span10 article-header">
      <div class="space">
        <div class="bottom">
          <h1><%= title article.title %></h1>
          <ul class="relations">
            <% article.grouped_relations.each do |category, group| %>
                <li class="category">
                  <span><%= category.es_name %>:</span>
                  <ul class="related">
                    <% group.each do |relation| %>
                        <li><%= link_to relation.other.title, relation.other %>
                        </li>
                    <% end %>
                  </ul>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="sidebar span4">
    <div id="article_tree" style="display: none;">
      <%= article_tree Site.tree %>
    </div>
  </div>
  <div class="span6 main">
    <%= div_for article do %>
        <div class="render">
          <%= render_body article %>
        </div>
    <% end %>
    <%#= render 'comments/comments' %>
  </div>
  <div class="span4"></div>
</div>
