<header>
  <%= title t('.title') %>
  <%= content_tag :h3, t('.parent', :title => mediafile.resource.title) if mediafile.resource_id? %>
</header>

<div class="dark strip">
  <%= button_group do %>
      <%= arrowleft_button_link_to t('.back'), (mediafile.resource_id? ? [mediafile.resource] : mediafiles_path) %>
  <% end %>
</div>

<%= render 'form' %>

