<div class="row">
  <div class="span7">
    <h3><%= article.title %></h3>
    <%= simple_format article.body %>
  </div>
  <div class="span8">
    <%= simple_form_for [:admin, article, translation] do |form| %>
        <%= form.input :title %>
        <%= form.input :lang, collection: [['English', :en]], include_blank: false %>
        <%= form.input :body %>
        <%= form.submit %>
    <% end %>
  </div>
</div>
