<ul class="index">
  <li> <%= link_to_unless_current '¿Qué es casa + o -?', root_path %></li>
  <ul>
    <li><%= link_to_unless_current 'Base teórica', article_path('126-base-teorica') %></li>
    <li><%= link_to_unless_current 'Referencias', article_path('121-referencias') %></li>
    <li><%= link_to_unless_current 'Glosario', article_path('9-glosario') %></li>
  </ul>

  <li> <%= link_to_unless_current 'Tipologías de viviendas en proceso', article_path('37-tipologias-de-viviendas-en-proceso') %></li>
  <ul>
    <li><%= link_to_unless_current 'Modelos tipológicos', article_path('124-modelos-tipologicos') %></li>
    <li><%= link_to_unless_current 'Estrategias para la flexibilidad', article_path('122-estrategias-para-la-flexibilidad') %></li>
    <ul>
      <li><%= link_to_unless_current 'Estrategias cualitativas', article_path('38-estrategias-cualitativas') %></li>
      <li><%= link_to_unless_current 'Estrategias adaptables', article_path('40-estrategias-adaptables') %></li>
      <li><%= link_to_unless_current 'Estrategias elásticas', article_path('44-estrategias-elasticas') %></li>
    </ul>
  </ul>
  <li><%= link_to_unless_current 'Gestión de viviendas en proceso', article_path('11-gestion-de-viviendas-en-proceso') %></li>
  <ul>
    <li><%= link_to_unless_current 'Modelos de gestión', article_path('125-modelos-de-gestion') %></li>
  </ul>
  <li><%= link_to_unless_current 'Participación en procesos de vivienda', article_path('98-participacion-en-procesos-de-vivienda') %></li>
  <ul>
    <li><%= link_to_unless_current 'Técnicas participativas', article_path('127-tecncas-participativas') %></li>
    <li><%= link_to_unless_current 'Métodos de diseño participativo', article_path('128-metodos-de-diseno-participativo') %></li>
  </ul>
  <li><%= link_to_unless_current 'Experiencias', article_path('57-experiencias') %></li>
</ul>
