<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= yield :title %> :: Casa + o -</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/casamasomenos.ico" type="image/x-icon"/>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.class.name[0..-11].downcase %>">

<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">Casamasomenos</a>
      <ul class="nav">
        <%= nav_link_to 'Participantes', admin_users_path %>
        <%= nav_link_to 'Entradas', admin_articles_path %>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>

  <footer>
    <p>lahabitacion.net</p>
  </footer>

</div>
<!-- /container -->

<div id="flashes">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "flash #{name}" do %>
          <%= msg %>
      <% end %>
  <% end %>
</div>



<%= render :partial => '/layouts/ga' %>
</body>
</html>
