<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> :: Casa + o -</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.class.name[0..-11].downcase %>">

<header id="app">
  <div class="session">
    <% if has_user? %>
        <%= avatar_img(current_user) %> Eres <%= current_user.name %> :
        <%= link_to 'Ver perfil' %> |
        <%= link_to 'Salir' %>
    <% else %>
        <%= link_to t('invitations.new.title'), '#' %>
    <% end %>
  </div>
  <div class="cmom">casamasomenos.net</div>
</header>
<% flash.each do |name, msg| %>
    <%= content_tag :div, :class => "flash #{name}" do %>
        <%= msg %>
    <% end %>
<% end %>
<% if controller.class != MapsController %>
    <div id="page" role="main">
      <header>
        <%= link_to 'Mapa', root_path %>
        <%= link_to 'Participantes', users_path if current_user.admin? %>
        <%= link_to 'Articulos', articles_path if current_user.admin? %>
      </header>
      <%= yield %>
    </div>
<% else %>
    <%= yield %>
    <%= javascript_include_tag "maps" %>
<% end %>
</body>
</html>
