<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> :: Casa + o -</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="app">
  <div class="session">
    <%= avatar_img(current_user) %> Eres <%= current_user.name %> :
    <% if current_user.anonymous? %>
        <%= link_to t('invitations.new.title') %>
    <% else %>
        <%= link_to 'Ver perfil' %> |
        <%= link_to 'Salir' %>
    <% end %>
  </div>
  <div class="cmom">casamasomenos.net</div>
</header>
<% flash.each do |name, msg| %>
    <%= content_tag :div, :class => "flash #{name}" do %>
        <%= msg %>
    <% end %>
<% end %>
<div id="page" role="main">
  <header>
    <%= link_to 'Mapa', root_path %>
    <%= link_to 'Participantes', users_path if current_user.admin? %>
    <%= link_to 'Articulos', articles_path if current_user.admin? %>
  </header>
  <%= yield %>
</div>
<footer>
</footer>
</body>
</html>
