<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> :: Casa + o -</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.class.name[0..-11].downcase %>">

<header id="app">
  <div class="session">
    <% if current_user? %>
        <%= avatar_img(current_user) %> <%= link_to current_user.name, current_user %>
        <%#= link_to '&larr; Salir'.html_safe, logout_path, :confirm => '¿Quieres salir?' %>
    <% else %>
        <%= link_to 'Entrar', login_path(:p => request.url) %>
    <% end %>
  </div>
  <div class="cmom"><a href="/">casamasomenos.net</a></div>
</header>
<% flash.each do |name, msg| %>
    <%= content_tag :div, :class => "flash #{name}" do %>
        <%= msg %>
    <% end %>
<% end %>
<div id="page" role="main">
  <% if current_user.admin? %>
      <header>
        <%= link_to 'Articulos', articles_path %> |
        <%= link_to 'Ficheros', mediafiles_path %> |
        <%= link_to 'Participantes', users_path %>
      </header>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
